<!DOCTYPE html>
<html>
<head>
	<title>About Anonymous Blog</title>
</head>
<body>
<div>
	<p ><font size = 5>
		The sole purpose of this blog is to let us people interact without revealing our basic identity.
		You can create some post(s) and/or interact on some existing post(s) without registering or signing up. I understand this might sound crazy, but it is also on the people with what kind of content you want to interact about. No restrictions are applied on topics which you could interact. However, I expect you to be aware of what you do and I do not take any responsibility of what you put here. This is in its simplest form, with much more updates and stylings to be added. My goal is make this as something similar to the <a href="http://answerszuvs3gg2l64e6hmnryudl5zgrmwm3vh65hzszdghblddvfiqd.onion/">Hidden Answers</a> (access using the Tor Browser). Have FUN.</p>
	<p>Dhiraj Maheswari.
	</font></p>
</div>
</body>
</html>